/* sets the page boundaries and center point */
body {
	width: 1280px;
	height: 720px;

	margin: auto;
}

/* sets header properties */
header {
	background-color: #00CCFF;
	height: 500px; 

	position: relative;
	bottom: 120px;
}

/* sets wrap div boundaries and position */
#wrap {
	/*background-color: red;  debugging use */

	width: 1050px;
	height: 300px;

	position: relative;
	top: 180px; /* centralise div from top */
	margin: auto; /* centralise div from left and right */
}

#site_title {
	background-color: white; /*debugging use */

	width: 550px;
	height: 200px;

	font-family: Helvetica;
	font-size: 80px;

	border-style: solid;
	border-color: white;
	border-radius: 10px;

	position: relative;
	top: 30px; /* 50px from the top of wrap div to make it look vertically centralised */
}

/* this is needed to position the word inside the site_title div */
#site_title h1 {
	text-align: center; /* align to div */
	position: relative;
	bottom: 100px; /* position inside div */

	color: #00CCFF;
}

a {
	text-decoration: none;
	color: white;
}

#download {
	background-color: #00CCFF;

	float: right; /* makes div go to the right of the wrap div */
	position: relative;
	bottom: 140px; /* makes div look horizontally aligned to the title div */
	right: 10px;

	height: 130px;

	font-size: 40px;

	padding-left: 30px;
	padding-right: 30px;

	border-style: solid;
	border-color: white;
	border-radius: 10px;
}

/* this is needed to position the word inside the download div */
#download h1 {
	position: relative;
	bottom: 30px; /* makes sure text looks vertically aligned to border and title div */

	text-align: center;

	color: black;
}

img {
	width: 200px;
	height: 200px;
}

section {
	background-color: #009988; 
	/*background-color: red; debugging use */

	height: 750px; /* make sure this height accomodates the photos, summary and updates section */

	position: relative;
	bottom: 150px; /* make sure this covers the gap between header and section */
}

.updates {
	/*background-color: red; debugging use */

	width: 800px;

	position: relative;
	top: 20px;
	left: 200px; /* make it vertically aligned with start of photos */
}

.updates #updates_title {
	background-color: black;

	color: #00CCFF;

	font-size: 30px;
	font-weight: bold;

	border-style: solid;
	border-color: black;
	border-radius: 80px;

	width: 120px;
	height: 40px;

	text-align: center;
}

.updates #version {
	font-size: 20px;

	position: relative;
	bottom: 10px;
	left: 20px;
}

.updates ul {
	position: relative;
	bottom: 30px;
}

#photos {
	/*background-color: blue; debugging use */

	width: 1000px;

	position: relative; /* relative to section, move as a div */
	top: 30px;
	left: 150px;
}

#photos ul li {
	display: inline;

	padding-left: 10px;
	padding-right: 10px;
}

#summary {
	/*background-color: blue; debugging use */

	text-align: center; /* centralised in div */

	width: 800px;

	font-size: 30px;
	font-weight: bold;

	position: relative;
	top: 20px; /* from the photo div */
	margin: auto; /* in proportion to website */
}

footer {
	background-color: black;

	position: relative;
	bottom: 170px;
}

#bottom_stuff {
	color: white;

	text-align: center;
}